#sideToolbarContainer {
    bottom: 0;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    flex-direction: column;
    left: -$sidebarWidth;
    transition: left 0.4s ease-in-out;
    overflow: hidden;
    padding: 0 0 $icwToolboxPaddingVertical $icwToolboxPaddingHorizontal;
    position: absolute;
    top: $newToolbarSize * 2;
    width: $sidebarWidth;
    z-index: $toolbarZ;
}

#sideToolbarContainer.visible {
    left: 0;
}

#chatconversation {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-flow: column;
    font-size: 10pt;
    justify-content: flex-end;
    line-height: 1;
    overflow: auto;
    padding-bottom: $icwToolboxPaddingHorizontal / 4;
    text-align: left;
    width: $sidebarWidth;
    word-wrap: break-word;

    a {
        display: block;
    }

    a:link {
        color: rgb(184, 184, 184);
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: rgb(213, 213, 213);
    }

    a:active {
        color: black;
    }

    &::-webkit-scrollbar {
        background: #06a5df;
        width: 7px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background: #06a5df;
        border-radius: 4px;
    }
}

#chat-recipient {
    align-items: center;
    background-color: $chatPrivateMessageBackgroundColor;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    padding: 10px;

    span {
        color: white;
        display: flex;
        flex: 1;
    }

    div {
        svg {
            cursor: pointer;
            fill: white
        }
    }
}

.chat-header {
    background-color: $chatHeaderBackgroundColor;
    height: 70px;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    .jitsi-icon {
        cursor: pointer;
    }

    .jitsi-icon > svg {
        fill: #A4B8D1;
    }
}

#chat-input {
    display: flex;
    box-sizing: border-box;
    padding: 0 $icwChatInputPadding;
    min-height: $icwChatInputHeight;
    border-radius: 19px;
    border: $icwChatInputBorder solid rgba(255, 255, 255, 0.35);
    background-color: rgba(0, 0, 0, 0.24);
    position: relative;
    width: 80%;

    * {
        background-color: transparent;
    }
}

.remoteuser {
    color: #B8C7E0;
}

.usrmsg-form {
    flex: 1;
}

#usermsg {
    border: 0px none;
    border-radius:0;
    box-shadow: none;
    color: white;
    font-size: 14px;
    line-height: 1.3;
    margin: 10px 0;
    padding: 0 10px;
    overflow-y: auto;
    resize: none;
    width: 100%;
    word-break: break-word;
    height: 100%;
}

#usermsg:hover {
    border: 0px none;
    box-shadow: none;
}

#nickname {
    text-align: center;
    color: #9d9d9d;
    font-size: 18px;
    margin-top: 30px;
    left: 5px;
    right: 5px;
}

.sideToolbarContainer {
    * {
        -webkit-user-select: text;
        user-select: text;
    }

    .display-name {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -0.33px;
        margin-bottom: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @media (max-width: 580px) {
        display: none !important;
    }
}

.chatmessage {
    background-color: $chatRemoteMessageBackgroundColor;
    border-radius: 0px 6px 6px 6px;
    box-sizing: border-box;
    color: white;
    margin-top: 3px;
    max-width: 100%;
    position: relative;

    &.localuser {
        background-color: $chatLocalMessageBackgroundColor;
        border-radius: 6px 0px 6px 6px;
    }

    .usermessage {
        font-size: 13px;
        letter-spacing: -0.33px;
        line-height: 14px;
        white-space: pre-wrap;
    }

    &.error {
        border-radius: 0px;

        .timestamp,
        .display-name {
            display: none;
        }

        .usermessage {
            color: red;
            padding: 0;
        }
    }

    .privatemessagenotice {
        font-size: 11px;
        font-weight: 100;
    }

    .messagecontent {
        margin: 8px 12px;
        max-width: 100%;
        overflow: hidden;
    }
}

.smiley {
    font-size: 14pt;
}

#smileys {
    font-size: $icwSmileSize;
    margin: auto;
    cursor: pointer;
}

#smileys img {
    width: 22px;
    padding: 2px;
}

#smileysarea {
    display: flex;
    max-height: 150px;
    min-height: 35px;
    overflow: hidden;
}

.smiley-input {
    display: flex;
}

.smileys-panel {
    bottom: $icwChatInputHeight + $icwChatInputPadding;
    height: auto;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: calc(100% + #{2 * $icwChatInputBorder});
    left: -$icwChatInputBorder;
    transition: max-height .375s ease-in-out;

    &.show-smileys {
        max-height: 500%;
    }

    #smileysContainer {
        border: $icwChatInputBorder solid rgba(255, 255, 255, 0.35);
        border-radius: $icwChatInputHeight / 2;
        background-color: $newToolbarBackgroundColor;
        padding: $icwChatInputPadding;
    }
}

#smileysContainer .smiley {
    font-size: $icwSmileSize;
}

.smileyContainer {
    width: 40px;
    height: 36px;
    display: inline-block;
    text-align: center;
}

.smileyContainer:hover {
    background-color: $newToolbarButtonToggleColor;
    border-radius: 5px;
    cursor: pointer;
}

#usermsg::-webkit-scrollbar-track {
    background: #3a3a3a;
}

.chat-message-group {
    display: flex;
    flex-direction: column;

    &.local {
        .chatmessage {
            background-color: $chatLocalMessageBackgroundColor;

            &.privatemessage {
                background-color: $chatPrivateMessageBackgroundColor;
            }
        }
    }

    &.error {
        .chatmessage {
            background-color: $defaultWarningColor;
            border-radius: 0px;
            font-weight: 100;
        }

        .display-name {
            display: none;
        }
    }

    .chatmessage-wrapper {
        max-width: 100%;

        .replywrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            .messageactions {
                align-self: stretch;
                border-left: 1px solid $chatActionsSeparatorColor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px;

                .toolbox-icon {
                    cursor: pointer;
                }
            }
        }
    }

    .chatmessage {
        background-color: $chatRemoteMessageBackgroundColor;
        border-radius: 20px;
        display: inline-block;
        margin-top: 8px;
        color: white;

        &.privatemessage {
            background-color: $chatPrivateMessageBackgroundColor;
        }
    }
}

.chat-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -5px; // Margin set by atlaskit.

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 16px 24px;
        width: calc(100% - 32px);
        box-sizing: border-box;
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;

        .jitsi-icon {
            cursor: pointer;
        }

        .jitsi-icon > svg {
            fill: #A4B8D1;
        }
    }

    #chatconversation {
        width: 100%;
    }
}

/**
 * Make header close button more easily tappable on mobile.
 */
.mobile-browser .chat-dialog-header .jitsi-icon {
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    background: #2a3a4b;
    border-radius: 3px;
}
