.settings-button {
    &-container {
        position: relative;

        .toolbox-label {
            display: none;
        }

        .toolbox-button {
            cursor: pointer;

            .toolbox-icon {
                align-items: center;
                background: $icwColorPrimary;
                display: flex;
                border-radius: $newToolbarSize / 2;
                flex-direction: column;
                font-size: 24px;
                height: $newToolbarSize;
                justify-content: center;
                width: $newToolbarSize;

                &:hover {
                    background-color: $icwColorHighlight;
                }

                //align-items: center;
                //cursor: pointer;
                //display: flex;
                //background-color: #fff;
                //border-radius: 50%;
                //border: 1px solid #d1dbe8;
                //justify-content: center;
                //width: 38px;
                //height: 38px;

                /*&:hover {
                    background-color: #daebfa;
                    border: 1px solid #daebfa;
                }

                &.toggled {
                    background: #2a3a4b;
                    border: 1px solid #5e6d7a;

                    svg {
                        fill: #fff;
                    }

                    &:hover {
                        background-color: #5e6d7a;
                    }
                }

                &.disabled, .disabled & {
                    cursor: initial;
                    color: #fff;
                    background-color: #a4b8d1;

                    &:hover {
                        background-color: #a4b8d1;
                    }
                }

                svg {
                    fill: #5e6d7a;
                }*/
            }
        }
    }

    &-small-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        background: #FFF;
        border-radius: 50%;
        bottom: 0;
        cursor: pointer;
        height: $icwToolboxButtonMore;
        position: absolute;
        right: $icwToolboxButtonGap - ($icwToolboxButtonMore / 2);
        width: $icwToolboxButtonMore;
        transform: scale(1);
        transform-origin: center;
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        &> svg {
            fill: #5e6d7a;
            height: $icwToolboxButtonMore / 2;
            width: $icwToolboxButtonMore / 2;
        }

        &.disabled {
            background-color: #a4b8d1;
            cursor: default;
        }

        &:hover {
            transform: scale(1.15);
        }
    }
}
